.about{
    padding-bottom: 48px;

}

.about-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.picture{
  width: 300px;
  
}
.about-info{
    font-size: 24px;
    text-align:left;

}
.info-name{
    color: blue;
    font-size: 32px;
}

@media(max-width: 720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   .about-info{
       font-size: 20px;
   }
   .info-name{
       font-size: 26px;
   }
}